*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

@media all and (max-width: 768px) {
    nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .nav img{
        width: 100px;
        align-items: center;
    }

/*Filters section*/

    .filter-buttons{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 20px;
    }

    .info{
        width: 100%;
    }
    

/*main section*/

    main{
        width: 100%;
    }


    .sections-wrap {
        flex-direction: column-reverse;
    }

    /* most popular section*/
    
    .popular{
        width: 100%;
        height: 700px;
        background-color: #F2F2F2;
        border-radius: unset;
    }

    .popular-cards-wrap{
        width: 95%;
        height: 150px;
        margin: 0 0 0 8px;
    }

    .pop-cards img{
        padding: 5px 0 5px 0;
        
    }
    /*Section Accommodation*/

    .accomm{
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        
    }

    .accomm-title {
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        /* align-items: center; */
        padding: 50px 10px 20px 50px;
    }

    .accomm-cards-wrap{
        width: 100%;
        height: 250px;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
        margin: 20px auto;
    }

    .accomm-cards-wrap a{
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }        

    .accomm-cards-wrap img{
        width: 100%;
        height: 150px;
        border: 1px ;
        border-radius: 25px 25px 0px 0px;
        padding: 0px 5px;
    }

    /* Section Activities*/

    .activities{
        width: 100%%;
        height: auto;
        display: flex;
        flex-direction: column;
    } 

    .activities-title{
        width: 100%;
        font-size: 30px;
        font-weight: 800;
        padding: 50px 0 20px 20px;
    }

    .activities-cards{
        width: 100%;
        height: 250px;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
        margin: 20px auto;
    }

    .activities-cards a{
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .activities-cards img{
        width: 100%;
        height: 150px;
        border: 1px ;
        border-radius: 25px 25px 0px 0px;
        padding: 0px 5px;
    
    }

    .act-cards-wrap-1{
        border: none;
        
    }
    

    .footer-container{
        width: 100%;
        height: auto;
        background-color: #F2F2F2;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 30px;
           
    }

}