@media screen and (max-width: 768px){
    nav{
        width: 495px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links{
        border-bottom: 4px solid #F2F2F2;
        line-height: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-links a{
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        text-decoration: none;
        color: black;
    }
    
    nav img{
         width: 100px;
    }
    
    .nav-links a:hover {
        color: #0065FC;
        border-bottom: 4px solid;
        border-top: none;
        line-height: 50px;
        padding: 20px;
      }
      
/*Page info*/
    .page-info{
        display: inline-block;
        padding: 20px;
    }

    .page-info h1{
        font-size: 25px;
    }

    .page-info p{
        font-family: 'Raleway';
        font-size: medium;
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    .search-btn-wrap {
        width: 390px;
    }

/*Filters section*/
    .filter-buttons{
        flex-direction: column;
    }

    .info{
        width: 100%;
        padding: 25px;
    }

    .filters-btn-wrap {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    

/*main section*/

    main{
        width: fit-content;
    }

    .sections-wrap {
        flex-direction: column-reverse;
    }

 /* most popular section*/
    .popular {
        width: auto;
        height: auto;
        background-color: #F2F2F2;
        border-radius: unset;
    }
    
    .popular-cards-wrap{
        width: auto;
        height: 160px;
        margin: 15px 5px;
    }

    .pop-cards{
        width: auto;
    }

    .pop-cards img{
        padding: 3px 0;
    }

/*Section Accommodation*/
    .accomm{
        display: grid;
        justify-content: flex-start;
        height: auto;
        background-color: #FFFFFF;
    }

    .accomm-title {
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        padding: 50px 30px 20px;
    }

    .accomm-cards-wrap{
        width: fit-content;
        height: auto;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
        margin: 10px 0 15px 10px;
    }


    .accomm-cards-wrap img{
        width: 450px;
        border-radius: 25px 25px 0px 0px;
        margin: 5px 0;
    }

    .accomm-cards-info{
        padding-left: 20px;
    }

/* Section Activities*/
    .activities{
        display: block;
        width: 100%;
        height: auto;
    } 

    .activities-title{
        font-size: 25px;
        padding: 25px;
    }

    .activities-cards{
        width: 100%;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    }

    .activities-cards a{
        width: fit-content;
    }

    .activities-cards h3{
        font-size: 22px;
    }
    
    .activities-cards img{
        width: 100%;
        height: 150px;
        border-radius: 25px 25px 0px 0px;
    }

    .act-cards-wrap{
        padding: 0 10px;
    }

/*Section footer*/

    footer{
        width: max-content;
    }

    .footer-heading h4 {
        font-size: 25px;
        color: black;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .footer-heading a {
        font-size: larger;
        font-weight: 600;
    }

    .footer-container{
        height: auto;
    }

}