@media all and (max-width: 768px){
    body{
       outline: 2px solid greenyellow ;
       padding: 0;
       margin: 0;
    }

    nav{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    
    .nav-links{
        line-height: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-links a{
        width: inherit;
        border-bottom:3px solid silver;
        font-size: 22px;
        font-weight: 600;
    }
    
    nav img{
         width: 100px;
    }
    
    .nav-links a:hover {
        color: #0065FC;
        border-bottom: 4px solid;
        border-top: none;
        line-height: 50px;
        padding: 20px;
      }

      .nav-sections{
          align-items: baseline;
      }
      
/*Page info*/
    .page-info p{
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    /* Search form*/

    .search-btn-wrap {
    margin: 10px 0 25px 0;
}
    


 .search-btn-wrap button{
     font-size: medium;
 }
 
 .search-btn-wrap button:hover {
     background-color: #F2F2F2;
     color: #000;
 }
 
 
.search-btn-wrap button:hover {
    background-color: #F2F2F2;
    color: #000;
}


/*Filters section*/
    .filters-btn-wrap {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    
    .info{
        width:auto;
        padding: 10px;
    }
/*main section*/


    .sections-wrap {
        flex-direction: column-reverse;
    }

 /* most popular section*/
    .popular {
        width: auto;
        height: auto;
        background-color: #F2F2F2;
        border-radius: unset;
    }
    
    .popular-cards-wrap{
        width: auto;
        height: 200px;
        margin: 15px;
    }

    .pop-cards{
        width: auto;
    }

    .pop-cards-info {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pop-cards-info h4{
        font-size: 20px;
    }

    .pop-cards-info p{
        font-size: 20px;
    }

    .pop-stars{
        font-size: 15px;
    } 

    .pop-cards img {
        width: 170px;
        height: 185px;
    }

    

/*Section Accommodation*/
    .accomm{
        display: block;
        width: auto;
        height: auto;
        background-color: #FFFFFF;
    }

    .accomm-title {
        width: auto;
        font-family: 'Raleway';
        font-size: 25px;
        padding: 30px 0px 20px 15px;
    }

    .accomm-cards-wrap{
        width: auto;
        height: 250px;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
        margin-bottom: 20px;
    }

    .accomm-cards-wrap a{
        width: 100%;
        display: flow-root;
    }

    .accomm-cards-wrap img{
        width: 100%;
        height: 150px;
        padding: 0;
    }

    .accomm-cards-info h3 {
        font-size: 23px;
    }

    .accomm-cards-info p{
        font-size: 18px;
    }

    .stars{
        font-size: 15px;
    }

    .show-more{
        margin: 20px;
        font-size: 25px;
    }

/* Section Activities*/
    .activities{
        display: block;
        width: 100%;
        height: auto;
    } 

    .activities-title{
        width: auto;
        margin: 30px 0 30px 20px;
        padding: 0;
    }
    

    .activities-cards{
        width: 100%;
        height: 250px;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    }

    .activities-cards h3{
        font-size: 22px;
    }
    
    .activities-cards img{
        width: 100%;
        height: 180px;
        border-radius: 25px 25px 0px 0px;
    }

    .act-cards-wrap{
        padding: 0 20px;
    }

/*Section footer*/
    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer-heading{
        margin: 40px 0 0 30px;
    }

    .footer-heading h4 {
        font-size: 23px;
        color: black;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .footer-heading a {
        font-size: 20px;
        font-weight: 600;
    }

}