* {
    padding: 0;
    margin: 0;
}

/*Navigation section*/
nav{
    display: flex;
    flex-direction: row;
    padding: 20px 30px 10px 0;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-weight: 700;
}

nav img{
     width: 100px;
}

.nav-links a{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #0065FC;
    border-top: 3px solid;
    line-height: 50px;
    padding: 20px;
  }

  .nav-sections{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  }

/*Page info*/


.page-info h1{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 800;
}

.page-info p{
    font-family: 'Raleway';
    font-size: medium;
    font-weight: 500;
    padding: 10px 0;
}

/* Search form*/
.search-btn-wrap {
    border: 2px solid #F2F2F2;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    border-left: none;
    border-right: none ;
}
 
input{
     border:none ;
     width: inherit;
}
 
.fa-map-marker-alt{
    font-size: 20px;
    width: px;
    height: 35px;
    padding: 15px 25px 0 25px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
 
 .search-btn-wrap button{
        display: flex; 
        background-color: #0065FC;
        width: 80px;
        align-items: center;
        width: auto;
        border: none;
        border-radius: 0px 15px 15px 0px;
        color: #fff;
        font-size: 20px;
        padding: 13px;
 }
 
 .search-btn-wrap button:hover {
     background-color: #F2F2F2;
     color: #000;
 }
 
 .search-btn-wrap span{
     display: flex;
     align-content: center;
     padding: 10px;
 }
 
.search-btn-wrap button:hover {
    background-color: #F2F2F2;
    color: #000;
}

/* Section Filter */


.filter-title{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 700;
}

.filters-btn-wrap{
    display: inline-flex;
    padding: 10px;
    align-items: center;
}

.bttn {
    width: 220px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: 1px;
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    transition: transform 0.3s;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    display: flex;
    align-items: inherit;
}

.bttn::after, .bttn::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.bttn:hover{
    transform: translate(-12px, -12px);
}

.bttn:hover::after{
    transform: translate(6px, 6px);
}

.bttn:hover::before{
    transform: translate(12px, 12px)
}
    
.bttn i {
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn p{
    width: fit-content;
}

.info{
    width: 31%;
    display: inline-flex;
    align-items: baseline;
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: 600;
}

.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin: 10px;
    padding: 5px 10px;
}

/*Main section*/
main{
    width: 100%;
}

.sections-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

/*Section Accommodation*/
.accomm{
    width: 65%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.accomm-title{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    padding: 50px 0 0 50px;
}

.accomm-cards-wrap{
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:center;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: white;
    margin: 5px 20px 5px 20px;
    padding: 5px;
}


.accomm-cards-wrap img{
    width: 250px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
    padding: 0 5px;
}

.accomm-cards-wrap a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.accomm-cards-info{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}

.accomm-cards-info h3{
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
}

.accomm-cards-info p{
    width: 100%;
    font-size: small;
    margin: 5px;
}

.blue-star{
    color: #0065FC;
}

.gray-star{
    color: rgb(209 201 201);
}

.stars{
    width: 100%;
    font-size: small;
    margin: 5px;
}

.show-more{
    width: auto;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.show-more a{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

/* Section Most popular*/
.popular{
    width: 32%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pop-title{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 30px;
    font-size: 25px;
}

.popular-cards-wrap {
    margin: 0 30px 0 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.pop-cards{
    text-decoration: none ;
    color: #000;
    display: flex;
}

.pop-cards img{
    width: 150px;
    height: 150px;
    border-radius: 20px 0 0 20px;
    margin: 6px 5px 3px 6px;

}

.pop-cards-info{
    margin:10px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-cards-info h4{
    width: 100%;
    color: black;
    font-weight: 800;
    font-family: 'Raleway';
    font-size: 20px;
}

.pop-cards-info p{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
}

.pop-stars{
    width: 100%;
    font-size: 15px;
}

/* section Activities*/
.activities{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities-title{
    width: inherit;
    font-size: 25px;
    font-weight: 800;
    padding: 50px 0 10px 10px;
}

.act-cards-wrap{
    padding: 16px;
}

.activities-cards{
    width: 330px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    margin-bottom: 40px;
}

.activities-cards img{
    width: 330px;
    border-radius: 25px 25px 0 0;
}

.card-1 img{
    height: 390px;
}

.card-2 img{
    height: 170px;
}

.card-3 img{
    height: 120px;
}
 
.card-4 img{
    height: 390px;
}

.card-5 img{
    height: 140px;
}

.card-6 img{
    height: 140px;
}

.activities-cards a{
    text-decoration: none;
}

.activities-cards h3{
    color: #000;
    font-size: large;
    font-weight: 800;
    padding: 20px;
}

/*Section Footer */

footer{
    width: 100%;
    height: auto;
}

.footer-container{
    background-color: #F2F2F2;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
      
.footer-heading{
    margin: 40px 220px 40px 30px;
}

.footer-heading h4{
    font-size: 20px;
    font-family: 'Raleway';
    color: black;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-heading a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway';
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
}

