* {
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-weight: 700;
}

.nav img{
     width: 100px;
}

.nav-links a{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #0065FC;
    border-top: 3px solid;
    line-height: 50px;
    padding: 20px;
  }


.page-info{
    display: inline-block;
    padding: 20px;
}

.page-info h1{
    font-size: 25px;
}

.page-info p{
    font-family: 'Raleway';
    font-size: medium;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.search-btn-wrap {
    border: 1px solid #F2F2F2;
    width: 450px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    margin-left: 20px;
}

.input{
    width: 100%;
    border:none ;
}

.fa-map-marker-alt{
    width: 50px;
    height: 50px;
    padding: 18px 25px 0px 18px;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    justify-content: space-around;
    align-items: center;
    
}

.search-btn-wrap button{
    display: flex;
    background-color: #0065FC;
    width: 80px;
    align-items: center;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: #fff;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
}

.search-btn-wrap button:hover {
    background-color: #F2F2F2;
    color: #000;
}

.search-btn-wrap span{
    display: flex;
    align-content: center;
    padding: 10px;
}

/*Filters section*/

.filter-buttons{
    width: 100%; 
    display: flex;
    padding: 20px;
    align-items: baseline;
    flex-direction: row;
    
}

.filter-title{
    font-size: 20px;
    font-weight: 700;
}

.filters-btn-wrap{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    
}


.bttn {
    width: 210px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: 1px;
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    transition: transform 0.3s;
    font-size: large;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: inherit;
}

.bttn::after, .bttn::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  
}

.bttn:hover{
    transform: translate(-12px, -12px);
}

.bttn:hover::after{
    transform: translate(6px, 6px);
}

.bttn:hover::before{
    transform: translate(12px, 12px)
}
    
.bttn i {
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn p{
    width: fit-content;
}



.info{
    width: 31%;
    display: flex;
    align-items: baseline;
    padding: 20px 0;
    font-weight: 600;
}

.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin: 10px;
    padding: 5px 10px;
}


/*main*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sections-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    

    
}

/*Section Accommodation*/

.accomm{
    width: 65%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
}

.accomm-title{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    padding: 50px 0px 0px 50px;
    
}

.accomm-cards-wrap{
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:center;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: white;
    margin: 5px 20px 5px 20px;
    padding: 5px;
}


.accomm-cards-wrap img{
    width: 250px;
    height: 130px;
    border: 1px ;
    border-radius: 25px 25px 0px 0px;
    padding: 0px 5px;
}

.accomm-cards-wrap a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    
}

.accomm-cards-info{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    
       
    
}

.accomm-cards-info h3{
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
}

.accomm-cards-info p{
    width: 100%;
    font-size: small;
    margin: 5px;
}


.blue-star{
    color: #0065FC;
}

.gray-star{
    color: rgb(209 201 201);
}

.stars{
    width: 100%;
    font-size: small;
    margin: 5px;
}

.show-more{
    width: 100%;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.show-more a{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

/* Section most popula*/

.popular{
    width: 32%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pop-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 30px;
    font-size: 25px;
}

.popular-cards-wrap{
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 30px;
}

.pop-cards{
    width: 100%;
    text-decoration: none ;
    color: #000;
    height: 150px;
    display: flex;
}

.pop-cards img{
    width: 150px;
    height: 150px;
    border-radius: 25px 0px 0px 25px;
    padding: 5px;
}

.pop-cards-info{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-cards-info h4{
    width: 90%;
    color: black;
    font-weight: 800;
}

.pop-stars{
    width: 100%;
    font-size: small;
}

/* section Activities*/

.activities {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.activities-title{
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    padding: 50px 0 20px 0;
}

.activities-cards a{
    text-decoration: none;
}

.activities-cards-1{
    width: 350px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    background-color:  white;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
 
}

.activities-cards a{
    text-decoration: none;
}

.activities-cards-1 img{
    width: 350px;
    height: 390px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-1 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10px;
  
}

.activities-cards-2{
    width: 300px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #F2F2F2;
    /*margin: 0px 25px 25px 25px;*/
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}

.activities-cards-2 a{
    text-decoration: none;
}

.activities-cards-2 img{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-2 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10px;
}

.activities-cards-3{
    width: 300px;
    border-radius: 25px;
    /*margin: 25px;*/
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}

.activities-cards-3 a{
    text-decoration: none;
}

.activities-cards-3 img{
    width: 300px;
    height: 120px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-3 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.act-cards-wrap-1{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
}

.activities-cards-4{
    width: 350px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    background-color:  white;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}

.activities-cards-4 a{
    text-decoration: none ;
}

.activities-cards-4 img{
    width: 350px;
    height: 390px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-4 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.activities-cards-5{
    width: 300px;
    border-radius: 25px;
    /*margin: 0px 20px;*/
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}

.activities-cards-5 a{
    text-decoration: none;
}

.activities-cards-5 img{
    width: 300px;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-5 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.activities-cards-6{
    width: 300px;
    border-radius: 25px;
   /* margin: 55px 20px 0px 20px;*/
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}

.activities-cards-6 a{
    text-decoration: none;
}

.activities-cards-6 img{
    width: 300px;
    height: 150px;
    border-radius: 25px 25px 0px 0px;;
}

.activities-cards-6 h3{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.act-cards-wrap-2{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

/*Footer section*/

.footer-container{
    background-color: #F2F2F2;
    color: black;
    display: flex;
}
      
.footer-heading{
    padding: 50px 250px 50px 50px;
}


.footer-heading h4{
    width: fit-content;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-heading a{
    width: fit-content;
    color: black;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    
}

