@media all and (max-width: 992px){
    .nav-links a{
        font-size: 25px;
        padding: 25px;
    }
    
    nav img{
         width: 120px;
    }
    
    .info{
        width: 80%;
        padding: 10px;
    }

    .page-info p {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0 20px 0;
    }

    .filter-buttons{
        width: max-content;
        margin: 25px 0;
    }

    .filters-btn-wrap {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
    }
    
    /*main section
    .accomm {
        width: 60%;
        height: auto;
    }

    .accomm-title {
        width: 100%;
        font-size: 25px;
        padding: 30px 0 0 30px;
    }

    .accomm-cards-wrap{
        display: flex;
        flex-direction: row;
        background-color: white;
        margin: 15px 5px;
        padding-right: 10px;
    }

    .accomm-cards-wrap a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    .accomm-cards-wrap img {
        width: 245px;
        height: 130px;
        border-radius: 20px 20px 0px 0px;
    }

    .show-more {
        width: 100%;
        font-size: 25px;
        padding: 20px;
        align-items: ;
    }

    .popular {
        width: 35%;
        height: auto;
        justify-content: flex-start;
    }

    .pop-title {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 0 30px;
        font-size: 25px;
    }

    .popular-cards-wrap {
        margin: 30px 15px 20px 15px;;
    }

    .pop-cards img {
        height: 200px;
    }

    /* Section Activities
    .activities{
        display: flex;
    }

    
    .activities-title{
        width: 100%;
        margin: 50px 0 30px 15px;
        padding: 0;
    }
    

    .activities-cards{
        width: 100%;
        border-radius: 25px;
        background-color: white;
        margin: 30px;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
    }

    .activities-cards h3{
        font-size: 22px;
    }
    
    .activities-cards img{
        width: -webkit-fill-available;
        height: 150px;
        border-radius: 25px 25px 0px 0px;
    }*/

}