*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
@media all and (max-width: 768px) {
    

    body {
        width: 768px;
        height: auto;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

   nav{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    }

    .nav img{
        width: 100px;
        align-items: center;
    }
    .nav-links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .page-info{
        display: inline-block;
        padding: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

/*Filters section*/

    .filter-buttons{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 20px;
    }

    .info{
        width: 100%;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
    

/*main section*/

    main{
        outline: 1px solid yellow;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
        
    }

    .sections-wrap{
        outline: 1px solid red;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 30px auto;
        padding: 0px 20px;
        
    }
    /* most popular section*/
    .popular {
        width: 100%;
        background-color: #F2F2F2;
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding: 10px;
    }

    .popular-cards-wrap{
        width: 800px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .pop-cards{
        width: 400px;
        border-radius: 25px;
        background-color: white;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-self: start;
        
           
    }

    /*Section Accommodation*/

.accomm{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap: wrap;
}



   
    

    .activities{
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } 


    
    .footer-container{
        width: 100%;
        height: auto;
        background-color: #F2F2F2;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 30px;
           
    }

}