* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    } */


header{
    min-height: 100px;
    width: 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 20px;
    
}

.nav-links{
    flex: 1;
    text-align: right;
    position: relative;
    align-items:flex-end;
    padding: 15px;
    font-weight: 700;
}

.nav-links::after {
    text-decoration: overline;
    color: #0065FC;
}

nav a img{
     width: 100px;
 }

.nav-links a{
    padding: 20px;
    text-decoration: none;
    color: black;
    
}


.page-info{
    display: inline-block;
    padding: 20px;
    
}

.page-info h1{
    font-family:'Regular 400';
    font-size: 25px;
}

.page-info p{
    font-family: 'Raleway';
}

#searchBox{
    border: 1px solid #F2F2F2;
}


.search-btn-wrap{
    border: 1px solid #F2F2F2;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 0px 0px 0px 20px;
}

.fa-map-marker-alt{
    width: 40px;
    padding: 10px 5px 10px 10px;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    justify-content: space-around;
    align-items: center;
    
}

.search-btn-wrap button{
    display: flex;
    background-color: #0065FC;
    width: 80px;
    align-items: center;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
}

.search-btn-wrap button:hover {
    background-color: #F2F2F2;
    color: #000;
}

.search-btn-wrap span{
    display: flex;
    align-content: center;
    padding: 10px;
}

/*Filters section*/

.filter-buttons{
    max-width: 90%;
    display: flex;
    padding: 20px;
    align-items: baseline;
    
}

.filter-title{
    font-size: 20px;
    font-weight: 700;
}

.filters-btn-wrap{
    padding: 10px;
    align-items: center;
    
}


.filters-btn-wrap button{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 0px 10px 0px 0px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s;
    font-weight: 700;
}

.bttn::after, .bttn::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  
}

.bttn:hover{
    transform: translate(-12px, -12px);
}

.bttn:hover::after{
    transform: translate(6px, 6px);
}

.bttn:hover::before{
    transform: translate(12px, 12px)
}
    
.filters-btn-wrap i{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}



.info{
    width: 29%;
    display: flex;
    align-items: baseline;
    margin: 0px 0px 0px 20px;
}

.info i{
    
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin: 10px;
    padding: 5px 10px;
}


/*main*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sections-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 40px 0px 10px;
    flex-wrap: wrap;

    
}

/*Section Accommodation*/

.accomm{
    width: 65%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
}

.accomm-title{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    padding: 50px 0px 0px 50px;
    
}

.accomm-cards-wrap{
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:center;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: white;
    margin: 5px 20px 5px 20px;
    padding: 5px;
}


.accomm-cards-wrap img{
    width: 250px;
    height: 130px;
    border: 1px ;
    border-radius: 25px 25px 0px 0px;
    padding: 0px 5px;
}

.accomm-cards-wrap a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    
}

.accomm-cards-info{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    
       
    
}

.accomm-cards-info h4{
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
}

.accomm-cards-info p{
    width: 100%;
    font-size: small;
    margin: 5px;
}


.blue-star{
    color: #0065FC;
}

.gray-star{
    color: rgb(209 201 201);
}

.stars{
    width: 100%;
    font-size: small;
    margin: 5px;
}

.show-more{
    width: 100%;
    font-size: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.show-more a{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

/* Section most popula*/

.popular{
    width: 32%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.pop-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 30px;
    font-size: 25px;
}

.popular-cards-wrap{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.popular-cards-wrap a{
    text-decoration: none ;
    color: black;
}

.pop-cards{
    width: 400px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    
       
}

.pop-cards img{
    width: 170px;
    height: 150px;
    border-radius: 25px 0px 0px 25px;
    padding: 5px;
}

.pop-cards-info h4{
    width: 200px;
    color: black;
    
}
/* section Activities*/

.activities {
    width: 96%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    
}

.activities span{
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    padding: 50px 0 0 20px;
    
    
}

.activities-cards a{
    text-decoration: none;
}

.activities-cards-1{
    width: 350px;
    height: 450px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    background-color:  white;
 
}

.activities-cards-1 a{
    text-decoration: none;
}

.activities-cards-1 img{
    width: 350px;
    height: 390px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-1 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10px;
  
}

.activities-cards-2{
    width: 300px;
    height: 220px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid #F2F2F2;
    margin: 0px 25px 25px 25px;
}

.activities-cards-2 a{
    text-decoration: none;
}

.activities-cards-2 img{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-2 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10px;
    
    
}

.activities-cards-3{
    width: 300px;
    height: 170px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin: 25px;
}

.activities-cards-3 a{
    text-decoration: none;
}

.activities-cards-3 img{
    width: 300px;
    height: 110px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-3 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.act-cards-wrap-1{
    display: flex;
    justify-content:start;
    flex-direction: column;
    padding: 10px;
    
}

.activities-cards-4{
    width: 350px;
    height: 450px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    
}

.activities-cards-4 a{
    text-decoration: none ;
}

.activities-cards-4 img{
    width: 350px;
    height: 390px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-4 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.activities-cards-5{
    width: 300px;
    height: 190px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin: 0px 20px;
}

.activities-cards-5 a{
    text-decoration: none;
}

.activities-cards-5 img{
    width: 300px;
    height: 130px;
    border-radius: 25px 25px 0px 0px;
}

.activities-cards-5 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.activities-cards-6{
    width: 300px;
    height: 190px;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin: 55px 20px 0px 20px;
}

.activities-cards-6 a{
    text-decoration: none;
}

.activities-cards-6 img{
    width: 300px;
    height: 130px;
    border-radius: 25px 25px 0px 0px;;
}

.activities-cards-6 h4{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10PX;
}

.act-cards-wrap-2{
    display: flex;
    justify-content:start;
    flex-direction: column;
    padding: 10px;
}


.footer-container{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
       
}

.footer-heading h5{
    font-size: 20px;
    color: black;
}

.footer-heading a{
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    
}

